{% extends 'base.html' %}
{% block content  %}
<div class="mt-5"></div>

 <h2 align="center" style="color: #216c7d;"><b>Your Order was Successful!
      &nbsp;
      <br>
      <br>An email confirmation is on the way...</b></h2>
<br>
<h5 align="center"><b>Order ID: {{ order.orderid}}</b></h5>

<h4 align="center"><strong><br>Order details:</strong></h4>
&nbsp;

<table align="center">
      <tr>
        <td><strong>Name:</strong></td>
        <td>{{ order.user.username }}</td>
    </tr>
    <tr>
        <td><strong>Address:</strong></td>
        <td>&nbsp;&nbsp;{{ order.delivery_address.street_address }}</td>
    </tr>
    <tr>
        <td><strong>Address:</strong></td>
        <td>&nbsp;&nbsp;{{ order.delivery_address.apartment_address }}</td>
    </tr>
    <tr>
        <td><strong>Total</strong></td>
        <td>&nbsp;£ {{ order.get_total|floatformat:2 }}</td>
    </tr>
</table>
{% endblock %}