{% extends "base.html" %}
{% load static %}

{% block backimage %}
{% if products %}
<div class="mt-5 pt-4"></div>
{% else %}
<img src="{% static 'img/background.jpg' %}" alt="ice cream background" style="width:100%;height:350px;">
{% endif %}
{% endblock backimage %}
{% block content %}

  <main>
    <div class="container">
      <!--Section: Products-->
      <section class="text-center mb-4">
        {% if products %}
        <div class="row wow fadeIn">
          {% for item in products %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
     <div class="view overlay">
            <img src="{{ item.image.url }}" class="card-img-top" align="center" style="width:100%;height:230px;">
                <a href="{{ item.absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="card-body text-center">
                <a href="" class="grey-text">
                  <h5>{{ item.get_category_display }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{ item.absolute_url }}" class="dark-grey-text">{{ item.title }}</a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>£
                  {{ item.price }}
                  </strong>
                </h4>

              </div>

            </div>

          </div>
          {% empty %}
          <h1> Nothing found </h1>
           {% endfor %}
        </div>
      {% else %}
        <h1><strong>Desserts Capital</strong></h1>
        <div class="row">
          <div class="col-6">

           <center>Curated to be the pinnacle of the finest desserts anywhere.<br>
	             We are a unique Dessert lounge.<br>  We offer an array of dessert experiences with finely balanced ingredients,
               with a touch of elegance!</center>
          </div>
        <div class="col-6"><img src="{% static 'img/shop.png' %}" alt="milkshake" style="width:300px;height:200px;"></div>
        </div>
      {% endif %}
      </section>
      <!--Section: Products-->

      <!--Pagination-->

      {% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}

    </div>
  </main>

{% endblock content %}